/* General */

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  background-color: white;
}
img {
  user-select: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65rem;
}
.mr-10 {
  margin-right: 10px;
}
.color--black {
  color: black;
}
.color--white {
  color: white;
}
.flex {
  display: flex;
}
.justify_center {
  justify-content: center;
}
.justify_evenly {
  justify-content: space-evenly;
}
.justify_between {
  justify-content: space-between;
}
.align_center {
  align-items: center;
}

/* End General */

/* Header */
.nav {
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  top: 0;
  width: 17%;
  height: 100vh;
  z-index: 2;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
}

.ul {
  flex-direction: column;
  width: 100%;
}
.nav_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 4rem;
  margin: 0 20px 10px 20px;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.nav_item:last-child {
  margin-bottom: 0;
}
.nav_item:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
  background-color: rgb(45, 115, 254);
}
.nav_item:hover .nav_link h1,
.nav_item:hover .nav_link svg,
.nav_item:hover .nav_link i {
  color: white;
}
.nav_link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.nav_link h1 {
  color: rgb(3, 0, 51);
  font-size: 1.1rem;
  font-weight: 400;
  transition: all 0.4s ease;
}
.nav_link svg,
.nav_link i {
  font-size: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  color: rgb(3, 0, 51);
  margin-right: 10px;
  transition: all 0.4s ease;
  text-align: center;
  width: 50px;
}
.brand {
  margin-left: 35px;
  text-decoration: none;
}
.brand i,
.brand h1 {
  font-size: 2rem;
  color: rgb(3, 0, 51);
}
.brand h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-bg img {
  position: absolute;
  height: 6.5rem;
  width: 100%;
  left: 0;
  bottom: 0;
}
.nav-bg a {
  position: absolute;
  bottom: 1.5rem;
  left: 2rem;
  text-decoration: none;
  color: white;
}

/* End Header */

/* Admin-about */
.admin_about {
  width: 83vw;
  height: 100vh;
  float: right;
  flex-direction: column;
  background: linear-gradient(130deg, white 52%, rgb(2, 2, 30) 30%);
}
.adminAbout_first_row,
.adminAbout_second_row {
  width: 90%;
}
.admin_img {
  width: auto;
  height: 17rem;
}
.admin_img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.4);
}
.admin_item {
  justify-content: space-around;
  flex-direction: column;
  width: 18rem;
  height: 15rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  box-shadow: 0 0 70px rgba(30, 30, 30, 0.3);
  background: white;
}
.admin_grafik,
.admin_text {
  height: 20rem;
}
.admin_grafik {
  width: 25rem;
}
.admin_text {
  width: 34rem;
}
.admin_item i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
}
.admin_names i {
  background-color: rgb(58, 153, 200);
}
.admin_date i {
  background-color: rgb(26, 213, 138);
}
.admin_text i {
  background-color: red;
}
.admin_item h1,
.admin_item a {
  font-weight: 375;
  text-decoration: none;
  color: rgb(2, 2, 30);
}
.admin_item a {
  font-size: 1.1rem;
}
.admin_item h1 {
  font-size: 1.5rem;
}
.admin_names h1 {
  font-size: 2rem;
}
.admin_text p {
  font-size: 1.1rem;
  font-weight: 350;
}
.admin_links {
  width: 100%;
}
.admin_links svg {
  background-color: rgb(8, 78, 108);
  padding: 0.8rem;
  border-radius: 5px;
  color: white;
  width: 1.3rem;
  height: 1.3rem;
}
.admin_links a {
  margin-right: 1.4rem;
}
.admin_links a:last-child {
  margin-right: 0;
}
.admin_grafik img {
  width: 27rem;
  height: auto;
}
