/* Global */

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background-color: #f8faff;
}
body.dark_mode,
body.dark_mode .nav {
  background-color: rgb(0, 0, 0);
}
body.dark_mode .footer {
  background-color: rgb(20, 85, 147);
}
body.dark_mode .home {
  background: linear-gradient(-60deg, rgb(0, 0, 0), rgb(193, 196, 205));
}
body.dark_mode .registr_btn button {
  border: 2px solid white;
  background-color: white;
}
body.dark_mode .registr_btn button:hover {
  background-color: black;
}
body.dark_mode .registr_btn button:hover a {
  color: white;
}
body.dark_mode .registr_btn button a {
  color: black;
}
body.dark_mode h1,
body.dark_mode svg,
body.dark_mode p,
body.dark_mode .website_about_link_title h3,
body.dark_mode .brand i,
body.dark_mode .brand_item_footer i,
body.dark_mode .website_about_link ul li a,
body.dark_mode .sendEmail_title h2,
body.dark_mode .userSend_email form input,
body.dark_mode .userSend_email form label,
body.dark_mode .answer_down i,
body.dark_mode .advantageItem_head i,
body.dark_mode .by h1 a,
body.dark_mode .there_product_item_price h2 {
  color: white;
}
body.dark_mode .userSend_email form input {
  border-bottom: 1px solid white;
}
body.dark_mode .productItem_name h1,
body.dark_mode .productItem_cost h1,
body.dark_mode .learning h1,
body.dark_mode .settingItem_title h1,
body.dark_mode .admin_item h1,
body.dark_mode .admin_item p,
body.dark_mode .message_icon i,
body.dark_mode .message_head_title h1,
body.dark_mode .message_text p {
  color: black;
}
body.dark_mode .message_icon,
body.dark_mode .brands_item {
  background-color: white;
}
body.dark_mode .item_question,
body.dark_mode .advantage_item,
body.dark_mode .there_product_item {
  background-color: rgb(49, 49, 49);
  border: none;
}
img {
  user-select: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65rem;
}
.color--black {
  color: black;
}
.color--white {
  color: white;
}
.justify_center {
  justify-content: center;
}
.justify_evenly {
  justify-content: space-evenly;
}
.justify_between {
  justify-content: space-between;
}
.align_center {
  align-items: center;
}
.wf-100 {
  width: 100%;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mr-10 {
  margin-right: 10px;
}
.column {
  flex-direction: column;
}

#scrollbarProgress {
  display: none;
  position: fixed;
  top: 2%;
  right: 1rem;
  width: 0.2rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 50;
  transition: all 0.15s, background-color 0.4s;
  cursor: pointer;
}
#scrollbarProgress:hover {
  background-color: black;
}
body.dark_mode #scrollbarProgress {
  background-color: rgba(255, 255, 255, 0.25);
}
body.dark_mode #scrollbarProgress:hover {
  background-color: white;
}

/* End Global */

/* Header */
.nav {
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  top: 0;
  width: 17%;
  height: 100vh;
  z-index: 2;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.ul {
  flex-direction: column;
  width: 100%;
}
.nav_item {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  align-items: center;
  list-style: none;
  height: 4rem;
  user-select: none;
  margin: 0 20px 10px 20px;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.nav_item:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
  background-color: rgb(45, 115, 254);
}
.nav_item:hover .nav_link h1,
.nav_item:hover .nav_link svg,
.nav_item:hover .nav_link i {
  color: white;
}
.nav_link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.nav_link h1 {
  color: rgb(3, 0, 51);
  font-size: 1.1rem;
  font-weight: 400;
  transition: all 0.4s ease;
}
.nav_link svg {
  font-size: 1.4rem;
  width: 60px;
  height: 1.4rem;
  color: rgb(3, 0, 51);
  transition: all 0.4s ease;
  text-align: center;
}
.brand {
  margin-left: 2.25rem;
  text-decoration: none;
}
.brand i,
.brand h1 {
  font-size: 2rem;
  color: rgb(3, 0, 51);
}
.brand h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.dark_mode:hover {
  background-color: black;
}
.light_mode:hover {
  background-color: white;
}
.light_mode:hover .nav_link h1,
.light_mode:hover .nav_link svg {
  color: black;
}
.nav-bg img {
  position: absolute;
  height: 6.5rem;
  width: 100%;
  left: 0;
  bottom: 0;
}
.nav-bg a {
  position: absolute;
  bottom: 1.5rem;
  left: 2rem;
  text-decoration: none;
  color: white;
}

/* End Header */

/* Loader */
.container-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 51;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-bottom: 50px;
}
.loader_item1,
.loader_item2,
.loader_item3 {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 2px solid transparent;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  display: block;
  animation: rotate1 2s linear infinite;
  position: absolute;
}
.loader_item2 {
  width: 8rem;
  height: 8rem;
  animation: rotate2 2s linear infinite;
}
.loader_item3 {
  width: 4rem;
  height: 4rem;
  animation: rotate3 2s linear infinite;
}
@keyframes rotate1 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate3 {
  100% {
    transform: rotate(360deg);
  }
}

.please h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: white;
}

.flex {
  display: flex;
}
.hidden {
  display: none;
}
.ml-0 {
  margin-left: 0;
}
.mb-0 {
  margin-bottom: 0;
}
