/* Global */

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background-color: #f8faff;
}
img {
  user-select: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65rem;
}
.hidden {
  display: none;
}
.color--black {
  color: black;
}
.color--white {
  color: white;
}
.flex {
  display: flex;
}
.justify_center {
  justify-content: center;
}
.justify_evenly {
  justify-content: space-evenly;
}
.justify_between {
  justify-content: space-between;
}
.align_center {
  align-items: center;
}
.wf-100 {
  width: 100%;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mr-10 {
  margin-right: 10px;
}
.column {
  flex-direction: column;
}

#scrollbarProgress {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 0.2rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 50;
  transition: all 0.15s, background-color 0.4s;
  cursor: pointer;
}
#scrollbarProgress:hover {
  background-color: black;
}

/* End Global */

/* Loader */
.container-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 51;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-bottom: 50px;
}
.loader_item1,
.loader_item2,
.loader_item3 {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 2px solid transparent;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  display: block;
  animation: rotate1 2s linear infinite;
  position: absolute;
}
.loader_item2 {
  width: 8rem;
  height: 8rem;
  animation: rotate2 2s linear infinite;
}
.loader_item3 {
  width: 4rem;
  height: 4rem;
  animation: rotate3 2s linear infinite;
}
@keyframes rotate1 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate3 {
  100% {
    transform: rotate(360deg);
  }
}

.please h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: white;
}
