/* General */

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  user-select: none;
}
body {
  width: 100%;
  height: 100%;
  background-color: white;
}
::-webkit-scrollbar {
  width: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65rem;
}
#profil {
  display: none;
}
.mr-10 {
  margin-right: 10px;
}
.mb-07 {
  margin-bottom: 0.7rem;
}
.color--black {
  color: black;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}
.justify_center {
  justify-content: center;
}
.justify_between {
  justify-content: space-between;
}
.justify_evenly {
  justify-content: space-evenly;
}
.align_center {
  align-items: center;
}
.color_white {
  color: white;
}

/* End General */

/* Header */
.nav {
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  top: 0;
  width: 17%;
  height: 100vh;
  z-index: 2;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
}

.ul {
  flex-direction: column;
  width: 100%;
}
.nav_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 4rem;
  margin: 0 20px 10px 20px;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.nav_item:last-child {
  margin-bottom: 0;
}
.nav_item:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
  background-color: rgb(45, 115, 254);
}
.nav_item:hover .nav_link h1,
.nav_item:hover .nav_link svg,
.nav_item:hover .nav_link i {
  color: white;
}
.nav_link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.nav_link h1 {
  color: rgb(3, 0, 51);
  font-size: 1.1rem;
  font-weight: 400;
  transition: all 0.4s ease;
}
.nav_link svg,
.nav_link i {
  font-size: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  color: rgb(3, 0, 51);
  margin-right: 10px;
  transition: all 0.4s ease;
  text-align: center;
  width: 50px;
}
.brand {
  margin-left: 35px;
  text-decoration: none;
}
.brand i,
.brand h1 {
  font-size: 2rem;
  color: rgb(3, 0, 51);
}
.brand h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-bg img {
  position: absolute;
  height: 6.5rem;
  width: 100%;
  left: 0;
  bottom: 0;
}
.nav-bg a {
  position: absolute;
  bottom: 1.5rem;
  left: 2rem;
  text-decoration: none;
  color: white;
}

/* Register Profil */
.registerProfil {
  width: 83%;
  height: 100vh;
  float: right;
}
.registerProfil_bg img {
  width: 33rem;
  height: auto;
}
.registerProfil_form form {
  width: 16rem;
  padding: 7rem 6rem;
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
}
.form_item {
  position: relative;
  margin: 3.5rem 0;
}
.firstName {
  margin-top: 0;
}
.form_item input {
  outline: none;
  border: none;
  border-bottom: 1.5px solid black;
  padding-bottom: 0.8rem;
  font-size: 1.05rem;
  user-select: none;
  width: 100%;
}
.form_item label {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s;
  font-size: 1.05rem;
  user-select: none;
}
.form_item input:focus {
  border-bottom: 1.5px solid red;
}
.form_item input:valid {
  border-bottom: 1.5px solid rgb(0, 0, 0);
}
.form_item input:focus ~ label {
  top: -1.6rem;
  font-size: 0.8rem;
}
.form_item input:valid ~ label {
  top: -1.6rem;
  font-size: 0.8rem;
}
.openProfil_btn {
  width: 100%;
  height: 4.5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgb(67, 116, 212);
  color: white;
  font-size: 1.2rem;
  box-shadow: 12px 12px 20px rgba(67, 115, 212, 0.7);
  transition: all 0.4s;
}
.openProfil_btn:hover {
  transform: scale(0.95);
}
.show_message p {
  position: absolute;
  bottom: -1.8rem;
  color: red;
  font-size: 1rem;
}

/* Profil */

.profil {
  float: right;
  width: 83%;
  height: 100vh;
  background: url(../image/Profil/profil_bg.jpg) no-repeat center;
  background-size: cover;
}
#profile-animate {
  will-change: transform;
  transition: all 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
.profil_item {
  width: 100%;
}
.itemFirst_column,
.itemSecond_column {
  flex-direction: column;
  border-radius: 40px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  height: 75vh;
}
.itemFirst_column {
  width: 35%;
}
.user_img_item {
  width: 13rem;
  height: 13rem;
}
.user_img_item img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.user_name h1 {
  font-weight: 350;
  font-size: 2rem;
}

.userAbouts_second {
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}
.itemSecond_column {
  width: 100%;
  height: 62vh;
}
.userAbouts_second_title h1 {
  font-weight: 350;
  padding-left: 2rem;
  font-size: 1.8rem;
}
.user_about_items {
  flex-direction: column;
  width: 100%;
}
.user_card_names,
.userGoogle_adress {
  width: 90%;
}
.user_card_names {
  margin-bottom: 3rem;
}
.user_about_card {
  background-color: rgb(50, 100, 224);
  width: 14rem;
  padding: 1rem;
  border-radius: 15px;
}
.user_about_card h1 {
  font-weight: 350;
  font-size: 1.1rem;
}
.userProfil_btns button,
.createUser_btn button {
  cursor: pointer;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1.1rem;
  padding: 1.4rem 1.7rem;
  transition: all 0.5s;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.create_settings form button {
  margin-right: 1.5rem;
}
.create_settings form button,
.createUser_btn form button {
  background-color: rgb(0, 121, 103);
}
.deleteProfil_user form button {
  background-color: red;
}
.userProfil_btns button:hover,
.createUser_btn button:hover {
  transform: scale(0.95);
}

.createUser_about {
  align-items: flex-end;
  flex-direction: column;
  position: fixed;
  z-index: 15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.newProfil_card {
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
  padding: 6rem 6rem;
}
.settings_overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100vh;
  z-index: 10;
}
.profilSettings_close,
.newProfil_card {
  margin-bottom: 2rem;
}
.profilSettings_close form button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: red;
  border: none;
  outline: none;
  cursor: pointer;
}
.profilSettings_close form button i {
  color: white;
  font-size: 1.7rem;
}

.newUser_name {
  margin-bottom: 5rem;
}
.newUser_firstname,
.newUser_email {
  margin-right: 5rem;
}
.newUserName h1,
.newUsers_link h1 {
  color: black;
  font-weight: 370;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.newUser_name input,
.newUsers_links input {
  padding-bottom: 0.6rem;
  outline: none;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid blue;
}
.newUser_name input:focus,
.newUsers_links input:focus {
  border-bottom: 2px solid rgb(225, 53, 0);
}