.container {
  width: 75vw;
}
.mb-07 {
  margin-bottom: 0.7rem;
}
.color_white {
  color: white;
}

.profil_title h1 {
  font-weight: 360;
  color: white;
  font-size: 2rem;
}

/* Register Profil */
.registerProfil {
  width: 83%;
  height: 100vh;
  float: right;
}
.registerProfil_bg img {
  width: 36rem;
  height: auto;
}
.registerProfil_form form {
  width: 18rem;
  flex-direction: column;
  padding: 2.7rem 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative;
}
.form_bg {
  width: 16rem;
  height: 9rem;
}
.form_bg img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: auto;
  z-index: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.form_title {
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 25%;
  top: 6%;
}
.form_title h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 380;
  text-align: center;
  margin-bottom: 1.5rem;
}
.form_title i {
  color: white;
  font-size: 3rem;
}

.form_item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1.7rem;
}
.openProfil_btn {
  margin-top: 2rem;
}
.email {
  margin-top: 4rem;
}
.form_item input {
  outline: none;
  padding: 0.8rem;
  border: 1px solid rgb(228, 243, 255);
  background-color: rgb(228, 243, 255);
  margin-top: 0.5rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  font-weight: 360;
  user-select: none;
}
.form_item input::placeholder {
  font-weight: 330;
  color: rgba(0, 0, 0, 0.5);
}
.form_item label {
  transition: all 0.2s;
  font-size: 1rem;
  user-select: none;
}
.form_item input:focus {
  border: 1px solid red;
}
.form_item input:valid {
  border: 1px solid rgb(4, 210, 172);
}
.openProfil_btn {
  height: 4.5rem;
  border: none;
  cursor: pointer;
  background: rgb(4, 210, 172);
  color: white;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}
.openProfil_btn:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}
.show_message p {
  position: absolute;
  bottom: -1.8rem;
  color: red;
  font-size: 1rem;
}

/* Profil */

.profil {
  float: right;
  width: 83vw;
  height: 90vh;
  position: relative;
  margin-top: 70px;
}
.profil_item {
  width: 100%;
}
.itemFirst_column,
.itemSecond_column {
  flex-direction: column;
  border-radius: 0.6rem;
  padding: 2.5rem 2rem;
  background-color: white;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.09);
}
.itemFirst_column {
  height: 34rem;
  width: 25%;
}
.user_img_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  background-color: rgb(35, 96, 166);
  border-radius: 50%;
  cursor: pointer;
}
.user_img_item h1 {
  font-size: 3.5rem;
  font-weight: 300;
  user-select: none;
}
.user_name {
  text-align: center;
}
.user_name h1 {
  font-weight: 340;
  font-size: 1.8rem;
}
.changed_password a {
  text-decoration: none;
  width: 85%;
  padding: 1.2rem;
  border-radius: 0.5rem;
}
.changed_password a:hover {
  background-color: #eaecff;
}
body.dark_mode .changed_password a:hover {
  background-color: rgb(36, 36, 36);
}
.changed_password a h1,
.spent_money h1 {
  font-size: 1.1rem;
  font-weight: 340;
}
.changed_password a h1 svg {
  margin-right: 0.5rem;
}
.changed_password a h1,
.changed_password a svg {
  color: black;
}
body.dark_mode .changed_password a h1,
body.dark_mode .changed_password a svg,
body.dark_mode .spent_money h1 {
  color: white;
}
.spent_money {
  background: rgb(233, 232, 255);
  width: 85%;
  border-radius: 0.6rem;
  padding: 1.2rem;
}
body.dark_mode .spent_money {
  background-color: rgb(36, 36, 36);
}
.spent_money h1,
.changed_password {
  margin-bottom: 1.2rem;
}
.spent_money h1 {
  font-size: 1.2rem;
}
.spent_money a {
  text-decoration: none;
  color: blue;
}

.userAbouts_second {
  flex-direction: column;
  align-items: flex-start;
}
.userAbouts_second_title h1 {
  font-weight: 350;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.user_about_card {
  width: 16.5rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(165, 165, 165, 0.2);
  cursor: no-drop;
  border-radius: 0.4rem;
  margin-bottom: 1.5rem;
  user-select: none;
  transition: all 0.2s;
  opacity: 0.7;
}
.user_age,
.user_year {
  margin-bottom: 0;
}
body.dark_mode .user_about_card {
  background-color: rgb(36, 36, 36);
}
.user_firstname,
.user_email,
.user_age {
  margin-right: 1.5rem;
}
.user_about_card h1 {
  font-weight: 370;
  font-size: 1.15rem;
}
.user_about_card > h1 {
  font-weight: 370;
  color: rgb(80, 80, 80);
}
.userProfil_btns button,
.createUser_btn button {
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  padding: 1.3rem 2rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.create_settings form button {
  margin-right: 1.5rem;
}
.create_settings form button,
.createUser_btn form button {
  background-color: rgb(63, 204, 183);
}
.deleteProfil_user form button {
  background-color: #ff7070;
}

.userProfil_btns button::before,
.createUser_btn button::before {
  content: "";
  position: absolute;
  left: -95%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s;
  background-color: rgb(0, 121, 103);
}
.deleteProfil_user button::before {
  background-color: rgb(255, 0, 0);
}
.create_settings button:hover::before,
.deleteProfil_user button:hover::before,
.createUser_btn button:hover::before {
  left: 0;
}

.createUser_about {
  align-items: flex-end;
  flex-direction: column;
  position: fixed;
  z-index: 25;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.newProfil_card {
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  width: 33rem;
  padding: 4rem 5rem;
}
.settings_overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100vh;
  z-index: 20;
}
.profilSettings_close,
.newProfil_card {
  margin-bottom: 2rem;
}
.profilSettings_close form button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: red;
  border: none;
  outline: none;
  cursor: pointer;
}
.profilSettings_close form button i {
  color: white;
  font-size: 1.7rem;
}

.newUser_name,
.newUsers_links,
.newAge {
  width: 100%;
}
.newUser_name,
.newUsers_links {
  margin-bottom: 4rem;
}
.newUserName h1,
.newUsers_link h1 {
  color: black;
  font-weight: 370;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.newProfil_card > div > div {
  width: 40%;
}
.newUser_name input,
.newUsers_links input,
.newAge input {
  padding-bottom: 0.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-bottom: 2px solid blue;
  width: 100%;
}
.newUser_name input:focus,
.newUsers_links input:focus {
  border-bottom: 2px solid rgb(255, 135, 16);
}
