/* General */

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  user-select: none;
}
body {
  width: 100%;
  height: 100%;
  background-color: white;
}
::-webkit-scrollbar {
  width: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65rem;
}
#profil {
  display: none;
}
.mr-10 {
  margin-right: 10px;
}
.color--black {
  color: black;
}
.flex {
  display: flex;
}
.justify_center {
  justify-content: center;
}
.justify_between {
  justify-content: space-between;
}
.justify_evenly {
  justify-content: space-evenly;
}
.align_center {
  align-items: center;
}
.color_white {
  color: white;
}

/* End General */

/* Header */
.nav {
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  top: 0;
  width: 17%;
  height: 100vh;
  z-index: 2;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
}

.ul {
  flex-direction: column;
  width: 100%;
}
.nav_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 4rem;
  margin: 0 20px 10px 20px;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.nav_item:last-child {
  margin-bottom: 0;
}
.nav_item:hover {
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
  background-color: rgb(45, 115, 254);
}
.nav_item:hover .nav_link h1,
.nav_item:hover .nav_link svg,
.nav_item:hover .nav_link i {
  color: white;
}
.nav_link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.nav_link h1 {
  color: rgb(3, 0, 51);
  font-size: 1.1rem;
  font-weight: 400;
  transition: all 0.4s ease;
}
.nav_link svg,
.nav_link i {
  font-size: 1.4rem;
  width: 1.4rem;
  height: 1.4rem;
  color: rgb(3, 0, 51);
  margin-right: 10px;
  transition: all 0.4s ease;
  text-align: center;
  width: 50px;
}
.brand {
  margin-left: 35px;
  text-decoration: none;
}
.brand i,
.brand h1 {
  font-size: 2rem;
  color: rgb(3, 0, 51);
}
.brand h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-bg img {
  position: absolute;
  height: 6.5rem;
  width: 100%;
  left: 0;
  bottom: 0;
}
.nav-bg a {
  position: absolute;
  bottom: 1.5rem;
  left: 2rem;
  text-decoration: none;
  color: white;
}

/* Register Profil */
.registerProfil {
  width: 83%;
  height: 100vh;
  float: right;
}
.registerProfil_bg img {
  width: 33rem;
  height: auto;
}
.registerProfil_form form {
  padding: 6rem 6rem;
  border-radius: 15px;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.15);
  border: 1.5px solid rgb(3, 1, 146);
}
.form_item {
  position: relative;
  margin: 2.7rem 0;
}
.firstName {
  margin-top: 0;
}
.form_item input {
  outline: none;
  border: none;
  border-bottom: 1.5px solid black;
  padding-bottom: 0.8rem;
  font-size: 1.05rem;
  user-select: none;
  width: 100%;
}
.form_item textarea {
  outline: none;
  border: 1.5px solid black;
  font-size: 1.05rem;
  user-select: none;
  padding: 0.7rem;
}
.form_item label {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s;
  font-size: 1.05rem;
  user-select: none;
}
.form_item input:focus {
  border-bottom: 1.5px solid red;
}
.form_item input:valid {
  border-bottom: 1.5px solid rgb(0, 0, 0);
}
.form_item textarea:focus {
  border: 1.5px solid red;
}
.form_item textarea:valid {
  border: 1.5px solid rgb(0, 0, 0);
}
.form_item input:focus ~ label,
.form_item textarea:focus ~ label {
  top: -1.6rem;
  font-size: 0.8rem;
}
.form_item input:valid ~ label,
.form_item textarea:valid ~ label {
  top: -1.6rem;
  font-size: 0.8rem;
}
.openProfil_btn {
  width: 100%;
  height: 4.5rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgb(67, 116, 212);
  color: white;
  font-size: 1.2rem;
  box-shadow: 12px 12px 20px rgba(67, 115, 212, 0.7);
  transition: all 0.4s;
}
.openProfil_btn:hover {
  transform: scale(0.95);
}

/* Profil */

.profil {
  float: right;
  width: 83%;
  height: 100vh;
  background-color: white;
}
#profile-animate {
  will-change: transform;
  transition: all 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}
.profil_item {
  width: 100%;
  height: 70vh;
  background-color: rgb(0, 23, 56);
  border-radius: 20px;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.5);
  padding: 3rem 3rem;
}
.itemFirst_column {
  margin-right: 7rem;
}
.item_img {
  width: 15rem;
  height: 15rem;
}
.item_img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.itemSecond_column {
  flex-direction: column;
}
.user_name,
.user_email,
.userBirthday_date,
.user_links {
  margin-bottom: 40px;
}
.user_name h1,
.user_email a {
  font-weight: 500;
}
.user_name h1 {
  font-size: 2.5rem;
}
.user_email a {
  text-decoration: none;
  font-size: 1.1rem;
}
.userBirthday_date,
.user_about {
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgb(1, 1, 81);
}
.birthday_item h2 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.birthday_item h2,
.birthday_item h3 {
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.birthday_year,
.birthday_age {
  margin-right: 6rem;
}
.user_links {
  flex-direction: column;
}
.firstRow_links {
  margin-bottom: 20px;
}
.user_links a {
  text-decoration: none;
}
.user_links a i {
  font-size: 1.3rem;
}
.user_about {
  width: 30rem;
  overflow: auto;
}
.user_about h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 400;
}
.user_img {
  width: 10rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgb(62, 99, 185);
}

