/* Top Header */
#top-header {
  display: flex;
  float: right;
  width: 83vw;
  height: 70px;
}
.topNav {
  display: flex;
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  width: 83vw;
  height: 70px;
  z-index: 20;
  background: rgb(0, 0, 255) 68%;
}
.topUl {
  width: 100%;
  padding: 0 60px;
}
.setting_title h1 {
  font-weight: 360;
  color: white;
  font-size: 2.3rem;
}

/* Setting */
.setting {
  float: right;
  width: 83vw;
  position: relative;
  margin-top: 70px;
  padding: 5rem 0;
}

.setting_item {
  flex-direction: column;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(101, 101, 101);
  border-radius: 20px;
  width: 32%;
  padding: 2.2rem;
  background-color: white;
}
.settingItem_title h1 {
  font-weight: 380;
  font-size: 1.4rem;
  margin-bottom: 2.2rem;
}
.settingItem_input form {
  display: flex;
  align-items: center;
  position: relative;
}
.settingItem_input form label {
  position: absolute;
  right: 0.5rem;
  user-select: none;
}
.settingItem_input form input,
.settingItem_input form select {
  border: 1px solid rgb(0, 137, 147);
  outline: none;
  padding: 0.7rem 2rem 0.7rem 0.7rem;
  border-radius: 5px;
  font-size: 1.05rem;
  font-weight: 350;
  width: 9rem;
}
.font_family h4,
.font_family i {
  font-size: 1.05rem;
  cursor: pointer;
}
.font_family h4 {
  font-weight: 450;
}
.settingItem_input form select {
  width: 11.7rem;
}
.settingItem_save {
  width: 100%;
}
.settingItem_save form button {
  width: 11.7rem;
  height: 3.2rem;
  border: 1.6px solid rgb(0, 137, 147);
  outline: none;
  border-radius: 5px;
  user-select: none;
  background: rgb(0, 137, 147);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 2.2rem;
}
.settingItem_save form button:hover {
  background-color: white;
  color: rgb(0, 137, 147);
}
