.titles {
  margin-bottom: 100px;
}
.titles h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

/* Home */
.home {
  width: 83vw;
  float: right;
}

/* Brands */
.brands {
  float: right;
  width: 83vw;
}
.brand_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brand_item img {
  width: 100%;
  height: auto;
}
