@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.container {
  width: 80rem;
}

.titles {
  margin-bottom: 5rem;
}
.titles h1 {
  font-size: 2.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 3.4rem;
  font-weight: 380;
}
.blueTitle {
  color: rgb(41, 130, 224);
}

/* Nav */
.navHeader {
  position: fixed;
  z-index: 10;
  top: -100%;
  left: 0;
  width: 100%;
  transition: all 1s;
  padding: 1rem 0;
  backdrop-filter: blur(10px);
  background-color: transparent;
  box-shadow: 0 5px 3rem rgba(87, 92, 129, 0.3);
}
body.dark_mode .navHeader {
  box-shadow: 0 10px 4rem rgba(0, 0, 0, 0.2);
  background-color: rgba(25, 81, 146, 0.3);
}

/* Advantage  */
.advantage {
  padding: 150px 0;
  width: 100%;
}
.designHr {
  height: 38.85rem;
  width: 0.2rem;
  margin-right: 3rem;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
.advantage_item {
  flex-direction: column;
  padding: 2.5rem;
  width: 19rem;
  height: 13rem;
  background-color: rgb(253, 253, 253);
  transition: all 0.2s;
  border: 1px solid rgba(108, 144, 178, 0.4);
  border-radius: 10px;
  justify-content: space-between;
}
.advantage_item:hover {
  box-shadow: 0 0 5rem rgba(77, 103, 127, 0.4);
  background-color: white;
}
body.dark_mode .advantage_item {
  background-color: rgb(18, 53, 91);
  border: 1px solid rgb(18, 53, 91);
}
body.dark_mode .advantage_item:hover {
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.8);
}
.advantageItem_head svg {
  width: 2.6rem;
  height: 2.6rem;
  transition: all 1.5s;
}
body.dark_mode .qualityItem svg,
.qualityItem svg {
  color: rgb(35, 219, 158);
}
body.dark_mode .orderItem svg,
.orderItem svg {
  color: #3e92bc;
}
body.dark_mode .aboutItem svg,
.aboutItem svg {
  color: #8a52d2;
}
body.dark_mode .designItem svg,
.designItem svg {
  color: orange;
}
body.dark_mode .prizItem svg,
.prizItem svg {
  color: #ff0000;
}
.advantageItem_body {
  flex-direction: column;
}
.advantageItem_body_title h1 {
  font-weight: 480;
  color: #5b6686;
  line-height: 1.4;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.advantageItem_body_p p {
  font-size: 15px;
  font-weight: 400;
  color: #b4b4b4;
  font-family: Hind, sans-serif;
}
.advantageFirst_row {
  margin-bottom: 3rem;
}

/* Our Workers */
.ourWorkers {
  padding: 0 0 150px 0;
  width: 100%;
}
.ourWorker_items {
  width: 100%;
  background: url("../image/Worker/background.avif") center;
  background-size: cover;
  border-radius: 10px;
  padding: 4rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  justify-content: space-between;
}
.ourWorker_items::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.ourWorker_item {
  flex-direction: column;
  padding: 3.5rem 0 3.5rem 0;
  transition: all 0.3s;
  border-radius: 10px;
  width: 19rem;
}
.ourWorker_item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.ourWorker_item i {
  font-size: 4.3rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}
.ourWorker_item h1,
.ourWorker_item h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.ourWorker_item h1 {
  font-size: 2.7rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.ourWorker_item h2 {
  font-size: 1.6rem;
  font-weight: 570;
}

/* Questions */
.questions {
  padding: 0 0 150px 0;
  width: 100%;
}
.questions-container {
  width: 80rem;
}
.item_question {
  position: relative;
  flex-direction: column;
  background-color: white;
  width: 36rem;
  height: 6rem;
  overflow: hidden;
  transition: all 0.2s ease;
  box-shadow: 0.6rem 0.6rem 2rem rgba(86, 108, 143, 0.2);
  border-bottom: 3px solid rgb(67, 116, 167);
}
body.dark_mode .item_question {
  background-color: rgb(18, 53, 91);
  border-bottom: 3px solid rgb(83, 134, 200);
  box-shadow: 0 0 0;
}
.item_question.click_angle_down {
  height: 12rem;
}
.question_header,
.question_body {
  position: absolute;
  top: 2.4rem;
  width: 85%;
  justify-content: space-between;
}
.question_body {
  top: 7rem;
}
.question_title h1,
.answer_down svg {
  color: rgba(0, 0, 0, 0.8);
  user-select: none;
  transition: all 0.3s;
}
.answer_down svg.up {
  transform: rotate(180deg);
}
.question_title h1 {
  font-size: 1.2rem;
  font-weight: 360;
}
.answer_down svg {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}
.question_body p {
  color: rgb(110, 110, 110);
  font-size: 1rem;
  font-weight: 350;
  user-select: none;
}

/* Thoughts */
.thoughts {
  width: 100%;
  background: linear-gradient(85deg, #132f4c 0%, #173a5e 100%);
}

/* Brands */

.brands {
  padding: 150px 0;
  width: 100%;
  flex-direction: column;
}
.brands_item {
  flex-direction: column;
  padding: 2rem 2.5rem;
  border-radius: 15px;
  margin-right: 20px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.brands_item:hover {
  box-shadow: 0 10px 40px rgba(170, 180, 190, 0.3);
}
.brands_item:last-child {
  margin-right: 0;
}
.brands_item img {
  width: 5.5rem;
  height: auto;
  margin-bottom: 1.5rem;
  transition: all 0.3s;
}
.brands_item:hover img {
  transform: translateY(-0.3rem);
}
.brand_item_title {
  font-size: 1.15rem;
  font-weight: 500;
  color: #515769;
}
/* Footer */
.footer {
  width: 100%;
}
