/* General */

* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  background-color: white;
}
#main {
  display: none;
}
.container-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgb(80, 142, 251);
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  margin-bottom: 50px;
}
.loader_item1,
.loader_item2,
.loader_item3 {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 2px solid transparent;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  display: block;
  animation: rotate1 2s linear infinite;
  position: absolute;
}
.loader_item2 {
  width: 8rem;
  height: 8rem;
  animation: rotate2 2s linear infinite;
}
.loader_item3 {
  width: 4rem;
  height: 4rem;
  animation: rotate3 2s linear infinite;
}
@keyframes rotate1 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotate3 {
  100% {
    transform: rotate(360deg);
  }
}

.please h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  color: white;
}
::-webkit-scrollbar {
  width: 0;
}
.scroll_bar {
  position: fixed;
  transition: all 0.1s;
  top: 0;
  width: 20%;
  height: 10px;
  background-color: black;
  left: 0;
}
img {
  user-select: none;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80rem;
}
.hidden {
  display: none;
}
.mr-10 {
  margin-right: 10px;
}
.color--black {
  color: black;
}
.color--white {
  color: white;
}
.flex {
  display: flex;
}
.justify_center {
  justify-content: center;
}
.justify_evenly {
  justify-content: space-evenly;
}
.align_center {
  align-items: center;
}
.wf-100 {
  width: 100%;
}

/* Main */
.home {
  flex-direction: column;
  height: 100vh;
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.5);
  background: linear-gradient(-30deg, rgb(0, 128, 134), rgb(179, 255, 255));
}
.home_nav {
  position: absolute;
  top: 0;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand {
  text-decoration: none;
}
.brand i,
.brand h1 {
  font-size: 2rem;
  color: rgb(3, 0, 51);
}
.brand h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.home_text {
  flex-direction: column;
  align-items: flex-start;
  margin-right: 60px;
}
.home_title h1 {
  font-size: 3.2rem;
  margin-bottom: 40px;
}
.home_p p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.registr_btn button {
  border: 2px solid black;
  outline: none;
  padding: 17px 40px;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}
.registr_btn button:hover {
  background-color: white;
  transform: scale(1.05);
}
.registr_btn a {
  font-size: 1.2rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
}
.registr_btn button:hover a {
  color: black;
}
.home_bg img {
  width: 32rem;
  height: auto;
}
.message_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  transition: all 0.2s ease;
  z-index: 100;
}
.message_icon:hover {
  transform: scale(1.08);
}
.message_icon .color--white {
  color: white;
  font-size: 1.5rem;
}
.message_fixed_card {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 7rem;
  right: 2rem;
  width: 25rem;
  height: 34rem;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  background-color: rgb(218, 215, 255);
  z-index: 100;
}
.message_head {
  background-color: white;
  border-radius: 10px;
  justify-content: space-between;
  padding: 1rem 1.35rem;
  width: 22.3rem;
}
.message_brand,
.request_icon,
.message_close_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
.request_icon {
  background-color: #0aab83;
}
.message_close_item {
  background-color: red;
}
.message_brand i,
.request_icon i {
  font-size: 1.2rem;
  color: white;
}
.message_head_title h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.message_close_item i {
  font-size: 1.5rem;
  cursor: pointer;
}

.message_body {
  padding-top: 20px;
  overflow-y: scroll;
}
.message_body > div {
  margin-bottom: 40px;
}
.first_post {
  flex-direction: column;
  justify-content: flex-end;
}
.post_item {
  flex-direction: column;
  justify-content: flex-end;
}
.post_items {
  justify-content: space-evenly;
  align-items: flex-end;
}
.post_date {
  margin-bottom: 10px;
}
.post_date h4 {
  color: rgb(65, 65, 65);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.message_text {
  width: 15.5rem;
  background-color: white;
  padding: 20px 20px;
  border-radius: 12px 12px 12px 0;
  overflow-x: auto;
}
.quation_text {
  border-radius: 12px 12px 0 12px;
}
.message_text p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}
.form_text_create {
  justify-content: space-between;
  height: 4.5rem;
  border-radius: 10px;
}
.form_text_create input {
  width: 19rem;
  height: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding-left: 1rem;
  padding-right: 5rem;
}
.form_text_create button {
  position: absolute;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(57, 133, 213);
  border-radius: 50%;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border: none;
  outline: none;
}
.submit_message i {
  font-size: 1.2rem;
}

/* Advantage  */
.advantage {
  padding: 150px 0;
  width: 100%;
  flex-direction: column;
}
.advantage_title {
  margin-bottom: 100px;
}
.advantage_title h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

.advantage_items {
  flex-direction: column;
  width: 100%;
}
.advantage_item {
  flex-direction: column;
  border-radius: 10px;
  padding: 3rem 0;
  width: 23rem;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: all 0.5s ease;
}
.advantage_item:hover {
  transform: scale(1.05);
  background-color: rgb(92, 140, 216);
}
.advantageItem_head i {
  color: rgb(64, 159, 166);
  font-size: 4rem;
  margin-bottom: 30px;
}
.advantage_item:hover .advantageItem_head i,
.advantage_item:hover .advantageItem_head svg,
.advantage_item:hover .advantageItem_body_title h1,
.advantage_item:hover .advantageItem_body_p p {
  color: white;
}
.advantageItem_head svg {
  fill: currentColor;
  width: 4rem;
  width: 4rem;
  margin-bottom: 30px;
}
._2UMx206R8RMWSMNdZZT2bK {
  color: rgb(64, 159, 166);
  font-size: 4rem !important;
}
.advantageItem_body {
  flex-direction: column;
}
.advantageItem_body_title h1 {
  color: rgb(64, 159, 166);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 30px;
}
.advantageItem_body_p p {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}
.advantageFirst_row {
  margin-bottom: 6rem;
}

/* Brands */

.brands {
  padding: 150px 0;
  width: 100%;
  flex-direction: column;
}
.brands_title {
  margin-bottom: 100px;
}
.brands_title h1 {
  font-size: 2.5rem;
  font-weight: 300;
}
.brands_item {
  flex-direction: column;
  padding: 1.7rem 1.9rem;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  margin-right: 20px;
  cursor: pointer;
}
.brands_item:last-child {
  margin-right: 0;
}
.brands_item img {
  width: 7rem;
  height: auto;
  margin-bottom: 20px;
  transition: all 0.4s;
}
.brands_item:hover img {
  transform: translateY(-0.5rem);
}
.brand_item_title {
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

/* Footer */
.footer {
  width: 100%;
  height: 25rem;
  background-color: rgb(214, 220, 255);
  flex-direction: column;
}
.footer_brand, .footer_links {
  margin-bottom: 3.5rem;
}
.link_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 10px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
.link_item:last-child {
  margin-right: 0;
}
.link_item i {
  transition: all 0.5s;
  color: rgb(102, 102, 102);
  font-size: 1.7rem;
}
.telegram_link:hover,
.facebook_link:hover {
  background-color: blue;
}
.youtube_link:hover {
  background-color: red;
}
.github_link:hover {
  background-color: black;
}
.telegram_link:hover i,
.youtube_link:hover i,
.github_link:hover i,
.facebook_link:hover i {
  color: white;
}
.by h1, .by h1 a {
  text-decoration: none;
  color: rgb(125, 125, 125);
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 350;
}
.website_about_link ul li {
  list-style: none;
  margin-bottom: 15px;
}
.website_about_link ul li:last-child {
  margin-bottom: 0;
}
.website_about_link ul li a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: rgb(125, 125, 125);
  font-size: 1rem;
  transition: all 0.4s;
  margin-left: 0;
}
.website_about_link ul li a:hover {
  color: black;
  margin-left: 10px;
}
.website_about_link_title h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
}
.userSend_email {
  flex-direction: column;
}
.userSend_email form {
  position: relative;
  flex-direction: column;
}
.userSend_email form label {
  position: absolute;
  left: 0;
  top: -0.2rem;
  font-size: 1.3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  transition: all 0.4s;
}
.userSend_email form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 3rem;
  outline: none;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.userSend_email form input:focus {
  border-bottom: 1px solid rgb(125, 125, 125);
}
.userSend_email form input:focus ~ label {
  top: -2rem;
  font-size: 1rem;
  color: rgb(125, 125, 125);
}
.userSend_email form input:valid {
  border-bottom: 1px solid rgb(47, 162, 129);
}
.userSend_email form input:valid ~ label {
  top: -2rem;
  font-size: 1rem;
  color: rgb(47, 162, 129);
}
.userSend_email form button {
  border: none;
  width: 8.5rem;
  height: 3.9rem;
  border-radius: 7px;
  color: white;
  outline: none;
  background-color: rgb(255, 0, 60);
  user-select: none;
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: all 0.4s; 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(255, 0, 60);
}
.userSend_email form button:hover {
  background-color: white;
  color: rgb(255, 0, 60);
}
.sendEmail_title h2 {
  color: rgb(125, 125, 125);
  margin-bottom: 3.5rem;
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
